@import "../../assets/scss/main.scss";

.menu {
	position: absolute;
	top: 40px;
	right: 40px;
}
.menu-icon {
	position: relative;
	height: 40px;
	width: 40px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	overflow: hidden;
	cursor: pointer;

	
	&__line {
		width: 30px;
		border-top: 1px solid #fff;
		border-bottom: 1px solid #fff;
		transition: all .4s ease;
	}

	&__cross-top{
		position: absolute;
		height: 2px;
		width: 55px;
		top: 0;
		left: 100%;
		transform: rotate(-45deg);
		transform-origin: 0;
		transition: all .4s ease;
		display: flex;
		justify-content: space-between;

		&-left {
			width: 10px;
			border: 1px solid red;
		}
		&-right {
			width: 25px;
			border: 1px solid red;
		}
	}

	&__cross-bottom {
		position: absolute;
		// height: 2px;
		width: 55px;
		bottom: 0;
		left: 100%;
		transform: rotate(45deg);
		transform-origin: 0;
		transition: all .4s ease;
		border: 1px solid red;
	}



	&:before {
		content: '';
		height: 2px; 
		background-color: #fff;
		width: 40px;
		position: absolute;
		top: 7px;
		transition: all .4s ease;
	}
	
	&:after {
		content: '';
		height: 2px; 
		background-color: #fff;
		width: 20px;
		position: absolute;
		bottom: 7px;
		transition: all .4s ease;
	}
	&:hover {
		.menu-icon__line {
			width: 40px;
		}
		&:after {
			width: 40px;
		}
		.menu-icon__cross-top {
			transform: rotate(-45deg) translateX(-100%);
			
		}
		.menu-icon__cross-bottom {
			transform: rotate(45deg) translateX(-100%);
			
		}
	}
}