.about.about--hide-personal.about--hide-education.about--hide-technologies(data-about-page)
	.about__face
		.about__face-img(style="background-image: url(./../assets/img/img/face-1252.jpg);")
	.about__container
		.about__list
			.about__list-item(data-about-link-person) 01
			.about__list-item.about__list-item--delay-1(data-about-link-education) 02
			.about__list-item.about__list-item--delay-2(data-about-link-technologies) 03

		.about__header
			.about__header-text(data-about-header) Обо мне
			.about__subtitle
				.about__subtitle-text.about__subtitle-text--education /Образование
				.about__subtitle-text.about__subtitle-text--technologies /Технологии

		include ../personal/personal.pug
		include ../education/education.pug
	include ../technologies/technologies.pug
	
	