@import "../../assets/scss/utils/vars.scss";

.about-me {
	.center-text {
		display: none;
	}
	
	.about {
		display: flex;
		position: static;
	}
	
}
.about {
	display: flex;
	height: 100vh;
	position: relative;
	z-index: -100;
}

.about__container {
	position: relative;
	display: flex;
	flex-direction: column;
	height: 100%;
	// flex: 0 0 50%;
	// border: 1px solid blue;
	// justify-content: flex-end;
}



.about__list {
	position: absolute;
	top: 0;
	left: -80px;
	bottom: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	// transition: all .4s ease;
}

.about__list-item {
	opacity: 0;
  font-family: $mainFont;
  font-size: 24px;
  font-weight: bold;
  line-height: 3.33;
  letter-spacing: 3px;
	color: $default-color;
	position: relative;
	cursor: pointer;
	transform: translateX(-1000%);
	transition: opacity .4s ease, transform .8s ease .1s;
	
	&--delay-1 {
		transition: opacity .4s ease, transform .8s ease .2s;
	}
	&--delay-2 {
		transition: opacity .4s ease, transform .8s ease .3s;
	}

	&:before, &:after {
		display: block;
		content: "";
		background-image: url("/assets/img/icons/small-brackets.png");
		background-size: cover;
		position: absolute;
		width: 13px;
		height: 13px;
		top: 34px;
		transition: all .4s ease;
		opacity: 0;
	}
	&:before {
		background-position: left;
		left: -13px;
	}

	&:after {
		background-position: right;
		right: -9px;
	}
	
}

.about__face {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 50%;
	height: 100%;
	flex-basis: 50%;
	flex-grow: 1;
	overflow: hidden;
	transition: all .8s ease;
	opacity: 0;
	padding-left: 30px;
	
	&-img {
		height: 100%;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		transform: translateX(100%);
		transition: all .8s ease;
	}
}

.about__header {
	// border: 1px solid yellow;
	flex: 0 0 26%;
	display: flex;
	// align-items: flex-end;
	justify-content: flex-end;

	flex-direction: column;

	&-text {
		display: inline-block;
		color: $default-color;
		font-family: $secondaryFont;
		font-size: 100px;
		font-weight: bold;
		// line-height: 1.8;
		letter-spacing: 8px;
	}
}

.about__subtitle {
	padding-top: 8px;
	height: 38px;
	overflow: hidden;

	&-text {
		font-family: $secondaryFont;
		font-size: 30px;
		font-weight: bold;
		line-height: 1;
		letter-spacing: 3px;
		color: $default-color;
		text-transform: uppercase;
		transform: translateX(-100%);
		transition: all .8s ease;
		opacity: 0;
	}
}

.about.show {
	.about__list-item {
		transform: translateX(0);
		opacity: .5;
		// transition: opacity .4s ease, transform .8s ease .1s;

		&:hover {
			opacity: 1;
			
			&:before {
				opacity: 1;
				left: -18px;
			}
			&:after {
				right: -14px;
				opacity: 1;
			}
	
		}
	}
}

.about.about--show-personal {
	.personal__info {
		p {
			transform: translateX(0);
			opacity: 1;
		}
	}

	.about__container {
		// flex-basis: 50%;
	}

	.personal__button-wrapper {
		transform: translateX(0);
		opacity: 1;
	}
	
	.about__face {
		opacity: 1;

		&-img {
			transform: translateX(0);
		}
	}
}

.about.about--show-education {
	.about__container {
		// flex-basis: 100%;
	}

	.about__subtitle-text {
		transform: translateX(0);
		opacity: 1;
		transition: opacity .4s ease .4s, transform .8s ease;
	}

	.education__header {
		// transform: translateX(0);
		// opacity: 1;
		// transition: opacity .4s ease .4s, transform .8s ease;
	}

	.education__sertificats {
		transform: translateX(0);
		opacity: 1;
		// transition: all .3s ease;
	}
	
	.education__sertificat-item--1 {
		.sertificat {
			// transition: all .8s ease .3s;
			transition: opacity .4s ease .3s, transform .8s ease .2s;
			opacity: 1;
		}
	}
	.education__sertificat-item--2 {
		.sertificat {
			// transition: all .8s ease .1s;
			transition: opacity .4s ease .2s, transform .8s ease .1s;
			opacity: 1;
		}
	}
	.education__sertificat-item--3 {
		.sertificat {
			// transition: all .8s ease;
			transition: opacity .4s ease .1s, transform .8s ease;
			opacity: 1;
		}
	}
	.sertificat {
		transform: rotateY(0deg);
		// opacity: 1;
		// transition: all .8s ease .6s;
		// transform-style: preserve-3d;

	}
	.education__footer {
		transform: translateX(0);
		opacity: 1;
		transition: opacity .4s ease .4s, transform .8s ease;
	}
}

.about--hide-personal {
	.personal {
		display: none;
	}
}
.about--hide-education {
	.education {
		display: none;
	}
	.about__subtitle-text {
		display: none;
	}
}