.about(data-about-page)
	.about__container
		.about__list
			.about__list-item(data-about-link-person) 01
			.about__list-item.about__list-item--delay-1(data-about-link-education) 02
			.about__list-item.about__list-item--delay-2(data-about-link-technologies) 03

		.about__header
			span(data-about-header) Обо мне

		.about__info 
			p Здравствуйте! 
			p Меня зовут Михаил Кочеров,  я верстальщик из Санкт-Петербурга. И еще пару строк текста, и еще пару строк текста, и еще пару строк текста, и еще пару строк текста, и еще пару строк текста, и еще пару строк текста, и еще пару строк текста, и еще пару строк текста, и еще пару строк текста…
		.about__button(data-button-overflow)
			.about__button-wrapper
				+button('Скачать резюме','', 'down', 'small')(data-resume-button)
	.about__face
		.about__face-img(style="background-image: url(./../assets/img/img/face-1252.jpg);")