@import "../../assets/scss/utils/vars.scss";

.about {
	display: flex;
	// position: relative;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	// transform: translateX(-50%);
	z-index: -100;
	
	height: 100vh;
	@media (min-width: 768px) {
		
	}

	@media (max-width: 767px) {
		overflow: hidden;

		// .personal__info {
		// 	p {
		// 		transform: translateX(0);
		// 		opacity: 1;
		// 	}
		// }
	
		// .personal__button-wrapper {
		// 	transform: translateX(0);
		// 	opacity: 1;
		// }
		
		.about__face {
			opacity: 1;
	
			&-img {
				opacity: 0;
				transform: translateX(-100%);
				// transform: translateX(0);
			}
		}

		
		.about__subtitle-text--education {
			transform: translateX(0);
			opacity: 1;
			transition: opacity .8s ease, transform .4s ease;
		}
	
		.education__sertificats {
			transform: translateX(0);
			opacity: 1;
			transition: none;
			transform: none;
		}
	
		.education__sertificat-item--1 {
			transform: translateX(0);
			opacity: 1;
			transition: opacity 1.6s ease .3s, transform .8s ease .4s;
			transform: none;
		}
		.education__sertificat-item--2 {
			transform: translateX(0);
			opacity: 1;
			transition: opacity 1.6s ease .3s, transform .8s ease .3s;
			transform: none;
		}
		.education__sertificat-item--3 {
			transform: translateX(0);
			opacity: 1;
			transition: opacity 1.6s ease .3s, transform .8s ease .2s;
			transform: none;
		}
		.education__footer {
			transform: translateX(0);
			opacity: 1;
			transition: opacity .8s ease 1s, transform .8s ease .8s;
		}

		.about__list-item {
			text-shadow: 0 0 2px $neutral-secondary-color;
		}

		// .technologies__list {
		// 	position: static;
		// }
	
		.technologies__item {
			width: 100%;
			opacity: 1;
		
		}
	
		// .about__subtitle-text--technologies {
		// 	transform: translateX(0);
		// 	opacity: 1;
		// 	transition: opacity 1s ease, transform .8s ease -0.4s;
		// }
		// .technologies__subtitle-text {
		// 	transform: translateX(0);
		// 	opacity: 1;
		// 	transition: opacity 1s ease, transform .8s ease -0.4s;
		// }
	
		.technology__title {
			opacity: 1;
		}
	}

	@media (min-width: 768px) {

	}
}

.about__container {
	padding-top: 114px;

	@media (min-width: 768px) {
		padding-top: 0;
	}
}



.about__list {
	display: none;
	
	@media (min-width: 768px) {
		display: flex;
		position: absolute;
		top: 0;
		left: -60px;
		bottom: 0;
		flex-direction: column;
		justify-content: center;
	}
	@media (min-width: 991px) {
		left: -80px;
	}
}

.about__list-item {
	opacity: 0;
  font-family: $mainFont;
  font-size: 24px;
  font-weight: bold;
  line-height: 3.33;
  letter-spacing: 3px;
	color: $default-color;
	position: relative;
	z-index: 5;
	cursor: pointer;
	transform: translateX(-1000%);
	transition: opacity .4s ease, transform .8s ease .1s;
	
	&--delay-1 {
		transition: opacity .4s ease, transform .8s ease .2s;
	}
	&--delay-2 {
		transition: opacity .4s ease, transform .8s ease .3s;
	}

	&:before, &:after {
		display: block;
		content: "";
		background-image: url("/assets/img/icons/small-brackets.png");
		background-size: cover;
		position: absolute;
		width: 13px;
		height: 13px;
		top: 34px;
		transition: all .4s ease;
		opacity: 0;
	}
	&:before {
		background-position: left;
		left: -13px;
	}

	&:after {
		background-position: right;
		right: -9px;
	}

}

.about__face {
	position: absolute;
	top: 210px;
	right: 0;
	left: 0;
	height: 410px;
	flex-basis: 50%;
	flex-grow: 1;
	overflow: hidden;
	transition: all .8s ease;
	opacity: 0;
	
	@media (min-width: 768px) {
		padding-left: 30px;
		top: 0;
		bottom: 0;
		left: 50%;
		height: 100%;
	}
	
	&-img {
		height: 100%;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		transform: translateX(100%);
		transition: all .8s ease;
	}
}

.about__header {
	// border: 1px solid yellow;
	

	&-text {
		display: inline-block;
		color: $default-color;
		font-family: $secondaryFont;
		font-size: 60px;
		font-weight: bold;
		// line-height: 1.8;
		letter-spacing: 4px;

		@media (min-width: 576px) {
			font-size: 80px;
			letter-spacing: 6px;

		}
		@media (min-width: 992px) {
			font-size: 100px;
			letter-spacing: 8px;

		}
	}

	@media (min-width: 768px) {
		flex: 0 0 22%;
		display: flex;
		justify-content: flex-end;

		flex-direction: column;
	}
}

.about__subtitle {
	padding-top: 8px;
	// height: 38px;
	// overflow: hidden;

	&-text {
		font-family: $secondaryFont;
		font-size: 30px;
		font-weight: bold;
		line-height: 1;
		letter-spacing: 3px;
		color: $default-color;
		text-transform: uppercase;
		transform: translateX(0);
		opacity: 1;
		transition: opacity 1s ease, transform .8s ease -0.4s;

		@media (min-width: 576px) {
			// font-size: 40px;
		}

		@media (min-width: 768px) {
			transform: translateX(-50%);
			opacity: 0;
			transition: all .8s ease;

		}
	}

	@media (min-width: 768px) {
		padding-top: 8px;
		// height: 38px;
		overflow: hidden;
	}
}

.about__personal-wrapper {
	padding-top: 400px;
	// padding-bottom: 17%;
	@media (min-width: 768px) {
		padding-top: 0;
		flex: 0 0 74%;
		width: 50%;

	}
}

.education__sertificat-item--1 {
	transform: translateX(-400%);
	opacity: 0;
	transition: all 1s ease;
}
.education__sertificat-item--2 {
	transform: translateX(-400%);
	opacity: 0;
	transition: all 1s ease;
}
.education__sertificat-item--3 {
	transform: translateX(-400%);
	opacity: 0;
	transition: all 1s ease;
}

// ===============================================================
// ==========================SHOW =================================
// ==================================================================

.about--show {

	@media (max-width: 767px) {

		overflow: initial;

		.about__face-img{
			opacity: 1;
			transform: translateX(0);
			transition: transform .8s ease, opacity .6s ease .2s;
		}

		.personal__info p{
			opacity: 1;
			transform: translateX(0);
			transition: transform .8s ease .2s, opacity .6s ease .4s;
		}

		.personal__button-wrapper {
			transform: translateX(0);
			opacity: 1;
			transition: transform .8s ease .3s, opacity .6s ease .5s;
		}

	}
	.about__list-item {
		transform: translateX(0);
		opacity: .5;
		// transition: opacity .4s ease, transform .8s ease .1s;

		&:hover {
			opacity: 1;
			
			&:before {
				opacity: 1;
				left: -18px;
			}
			&:after {
				right: -14px;
				opacity: 1;
			}
	
		}
	}
}

.about--show-personal {
	.personal__info {
		p {
			transform: translateX(0);
			opacity: 1;
			transition: transform .8s ease, opacity .6s ease;
		}
	}

	.personal__button-wrapper {
		transform: translateX(0);
		opacity: 1;
		transition: transform .8s ease .1s, opacity .6s ease .3s;
	}
	
	.about__face {
		opacity: 1;

		&-img {
			transform: translateX(0);
		}
	}
}

//===== SHOW EDUCATION ============================================================

.about--show-education {

	.about__subtitle-text--education {
		transform: translateX(0);
		opacity: 1;
		transition: opacity .8s ease, transform .4s ease;
	}

	.education__sertificats {
		transform: translateX(0);
		opacity: 1;
		transition: none;
		transform: none;
	}

	.sertificats-slider__item--1 {
		transform: translateX(0);
		opacity: 1;
		transition: opacity 1.6s ease .3s, transform .8s ease .4s;
	}
	.sertificats-slider__item--2 {
		transform: translateX(0);
		opacity: 1;
		transition: opacity 1.6s ease .3s, transform .8s ease .3s;
	}
	.sertificats-slider__item--3 {
		transform: translateX(0);
		opacity: 1;
		transition: opacity 1.6s ease .3s, transform .8s ease .2s;
	}
	.sertificats-slider__item--4 {
		transform: translateX(0);
		opacity: 1;
		transition: opacity .8s ease .8s, transform .8s ease .6s;
	}
}

//===== SHOW TECHNOLOGIES ============================================================

.about--show-technologies {
	.about__list-item {
		text-shadow: 0 0 2px $neutral-secondary-color;
	}

	.technologies__item {
		width: 100%;
		opacity: 1;
	
	}

	// .about__subtitle-text--technologies {
	// 	transform: translateX(0);
	// 	opacity: 1;
	// 	transition: opacity 1s ease, transform .8s ease -0.4s;
	// }
	.technologies__subtitle-text {
		transform: translateX(0);
		opacity: 1;
		transition: opacity 1s ease, transform .8s ease -0.4s;
	}

	.technology__title {
		opacity: 1;
	}
}

// =================================================================================
// ============== HIDE =============================================================
// =================================================================================

.about--hide-personal {

	@media (min-width: 768px) {
		
		.about__personal-wrapper {
			display: none;
		}
	}
}

.about--hide-education {

	@media (min-width: 768px) {
		
		.education {
			display: none;
		}
		.about__subtitle-text--education {
			display: none;
		}
	}
}

.about--hide-technologies {

	@media (min-width: 768px) {
		
		.technologies {
			display: none;
		}
		// .about__subtitle-text--technologies {
		// 	display: none;
		// }
		.technologies__subtitle-text {
			display: none;
		}
	}

}

@keyframes aboutHide {
  0% {
	}
	30% {
		opacity: .2;
		transform: translate(0%, 0%) scale(.7);
	}
	100%{
		opacity: .1;
		transform: translate(-500%, 0%) scale(.9);
	}
}

.about.about--hide-animation {

	.about__container {
		animation: aboutHide 2s 1 ease;
	}
	.about__face {
		animation: aboutHide 2s 1 ease;
	}
	.technologies {
		animation: aboutHide 2s 1 ease;
	}
}
