* {
	box-sizing: border-box;
}
body {
	padding: 0;
	margin: 0;
	overflow-y: scroll;
	// overflow: hidden;
}
.canvas {
	background-color: #232323;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -10;
}
.container {
	color:#fff;
	width: 66%;
	margin: 0 auto;
}

.container--hide-centerText {
	.center-text {
		display: none;
	}
}

.container--about {
	// .center-text {
	// 	display: none;
	// }
	
	.about {
		// display: flex;
		z-index: 0;
		// position: static;
	}
	
}
.container--hide-about {
	.about {
		// display: none;
	}
}

.container--contacts {
	// .center-text {
	// 	display: none;
	// }
	.contacts {
		// display: flex;
		z-index: 0;
	}
	
}

.container--overflow {
	.about, .contacts__container {
		overflow: hidden;
	}
}

.container--portfolio {
	// .center-text {
	// 	display: none;
	// }
	
	.portfolio {
		// display: flex;
		z-index: 0;
		// position: static;
	}
	.portfolio__sites {
		// display: block;
		overflow: initial;
	}
	
}

.number-column {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	background-color: transparent;
	width: 50px;
}
.number-column__item {
	font-family: sans-serif;
	color: #444444;
	padding: 7px 20px;
	user-select: none;
}
.vertical-lines {
	color: #fff;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -9;
	display: flex;
	justify-content: space-between;

}
.vertikal-lines__block {
	flex: 0 0 20%;
	height: 100%;
	border: 1px solid rgba(48,48,48,.93);
	width: 20%;
	width: 50px;
	
}

.main-page-icons {
	&__logo {
		position: fixed;
		top: 40px;
		left: 40px;
		width: 40px;
		height: 40px;
	}
	&__vk {
		position: fixed;
		bottom: 40px;
		left: 40px;
		width: 40px;
		height: 40px;
	}
	&__git {
		position: fixed;
		bottom: 40px;
		right: 40px;
		width: 40px;
		height: 40px;
	}
}

.hide-icons {
	.main-page-icons__vk {
		display: none;
	}
	.main-page-icons__git {
		display: none;
	}
}

.hide {
	display: none;
}







