@import "../../assets/scss/utils/vars.scss";

.portfolio {
	display: flex;
	height: 100vh;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	z-index: -100;
}

.portfolio__header {
	flex: 0 0 22%;
	display: flex;
	justify-content: flex-end;

	flex-direction: column;
	padding-top: 103px;

	&-text {
		display: inline-block;
		color: $default-color;
		font-family: $secondaryFont;
		font-size: 60px;
		font-weight: bold;
		letter-spacing: 4px;
		
		@media (min-width: 576px) {
			font-size: 80px;
			letter-spacing: 6px;
		}
		@media (min-width: 992px) {
			font-size: 100px;
			letter-spacing: 8px;
		}
	}
}

.portfolio__sites {
	overflow: hidden;
	margin-top: 64px;
}

.portfolio__sites {
	opacity: 0;
	transform: translateX(-100%);
}

.portfolio--show {
	.portfolio__sites {
		opacity: 1;
		transform: translateX(0%);
		transition: opacity .6s ease .2s, transform .8s ease;
	}
}

.portfolio__sites-wrapper {
	margin-top: 70px;
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 27px;
	
	@media (min-width: 768px) {
		grid-template-columns: 1fr 1fr;

	}
}

.portfolio__sites-item {
	flex-grow: 1;
	transition: all .4s ease;
}

@keyframes portfolioHide {
  0% {
	}
	30% {
		opacity: .2;
		transform: translate(0%, 0%) scale(.7);
	}
	100%{
		opacity: .1;
		transform: translate(-500%, 0%) scale(.9);
	}
}
.portfolio--hide-animation {
	.portfolio__container {
		animation: portfolioHide 2s 1 ease;
	}
}

.disappear {
	transform: scale(0);
}

