.portfolio(data-portfolio-page)
	.portfolio__container
		.portfolio__header
			.portfolio__header-text(data-portfolio-header) Портфолио
		.portfolio__sites
			.portfolio__toggle
				.portfolio__toggle-item.portfolio__toggle-item--choosen Все
				.portfolio__toggle-item HTML+CSS
				.portfolio__toggle-item Bootstrap
				.portfolio__toggle-item Less/Sass
				.portfolio__toggle-item Webpack
			.portfolio__sites-wrapper
				.portfolio__sites-item
					+site({
						text: "Учебный макет Surfing Club",
						img: "./../assets/img/img/project_surfing.jpg",
						link: "#",
						description: "Вёрстка многостраничного сайта отеля с использованием Sass, Pug, Webpack"
					})
				.portfolio__sites-item
					+site({
						text: "Учебный макет Toxin",
						img: "./../assets/img/img/project_toxin.jpg",
						link: "#",
						description: "Вёрстка многостраничного сайта отеля с использованием Sass, Pug, Webpack"
					})
				.portfolio__sites-item
					+site({
						text: "Учебный макет Booking",
						img: "./../assets/img/img/project_booking.jpg",
						link: "#",
						description: "Вёрстка многостраничного сайта отеля с использованием Sass, Pug, Webpack"
					})
				.portfolio__sites-item
					+site({
						text: "Учебный макет Apollo",
						img: "./../assets/img/img/project_apollo.jpg",
						link: "#",
						description: "Вёрстка многостраничного сайта отеля с использованием Sass, Pug, Webpack"
					})
				.portfolio__sites-item
					+site({
						text: "Учебный макет Surfing Club",
						img: "./../assets/img/img/project_surfing.jpg",
						link: "#",
						description: "Вёрстка многостраничного сайта отеля с использованием Sass, Pug, Webpack"
					})
				.portfolio__sites-item
					+site({
						text: "Учебный макет Surfing Club",
						img: "./../assets/img/img/project_surfing.jpg",
						link: "#",
						description: "Вёрстка многостраничного сайта отеля с использованием Sass, Pug, Webpack"
					})