.portfolio(data-portfolio-page)
	//- .portfolio--show
	.portfolio__container.container
		.portfolio__header
			.portfolio__header-text(data-portfolio-header) Портфолио
		.portfolio__sites
			//- +dropdown()
			include ../../blocks/dropdown/dropdown.pug
			.portfolio__sites-wrapper(data-filter-wrapper)
				.portfolio__sites-item.less(data-filter-item).all
					+site({
						text: "Учебный макет Surfing Club",
						img: "./assets/img/img/project_surfing.jpg",
						link: "https://kocherov-michael.github.io/Surfing/app/",
						github: "https://github.com/kocherov-michael/Surfing",
						description: "Верстка лендинга сёрфинг клуба с использованием Less и Gulp"
					})
				.portfolio__sites-item.less.webpack.javascript(data-filter-item).all
					+site({
						text: "Учебный макет Toxin",
						img: "./assets/img/img/project_toxin.jpg",
						link: "https://kocherov-michael.github.io/toxin-booking/",
						github: "https://github.com/kocherov-michael/toxin-booking",
						description: "Вёрстка многостраничного сайта отеля с использованием Scss, Pug, Webpack."
					})
				.portfolio__sites-item(data-filter-item).all
					+site({
						text: "Учебный макет Booking",
						img: "./assets/img/img/project_booking.jpg",
						link: "https://kocherov-michael.github.io/booking-hotels/",
						github: "https://github.com/kocherov-michael/booking-hotels",
						description: "Верстка сайта по PSD макету."
					})
				.portfolio__sites-item.bootstrap.less(data-filter-item).all
					+site({
						text: "Учебный макет Apollo",
						img: "./assets/img/img/project_apollo.jpg",
						link: "https://kocherov-michael.github.io/apollo/",
						github: "https://github.com/kocherov-michael/apollo",
						description: "Верстка лендинга хостинг компании. Мобильная адаптивность."
					})
				.portfolio__sites-item.less.webpack.javascript(data-filter-item).all
					+site({
						text: "Калькулятор ювелира",
						img: "./assets/img/img/project_calculator.jpg",
						link: "https://michaelkocherov.ru/progect/bella/index.html",
						github: "https://github.com/kocherov-michael/bella-calculator",
						description: "Создание JavaScript SPA для мобильных устройств с использованием MySQL"
					})
				.portfolio__sites-item.less.webpack.javascript(data-filter-item).all
					+site({
						text: "Личный сайт портфолио",
						img: "./assets/img/img/project_portfolio.jpg",
						link: "https://michaelkocherov.ru/",
						github: "https://github.com/kocherov-michael/cosmo",
						description: "Вёрстка адаптивного сайта с анимацией."
					})
				.portfolio__sites-item.less.webpack.javascript.bootstrap(data-filter-item).all
					+site({
						text: "Интернет-магазин косметики",
						img: "./assets/img/img/project_organic.jpg",
						link: "https://kocherov-michael.github.io/organic-cosmetics/dist/index.html",
						github: "https://github.com/kocherov-michael/organic-cosmetics",
						description: "Вёрстка многостраничного сайта магазина косметики для генератора сайтов. Для корзины и личного кабинета использовался LocalStorage. Применялись Scss, Pug, Webpack."
					})
				.portfolio__sites-item(data-filter-item).all
					+site({
						text: "Генератор оформления сайта",
						img: "./assets/img/img/project_white.jpg",
						link: "https://michaelkocherov.ru/",
						github: "https://github.com/kocherov-michael/cosmo",
						description: "Создание на PHP генератора сайтов с различным оформлением. Есть возможность изменить язык, цветовую схему, мутацию цвета, картинки, название компании и контактные данные."
					})