@import "../../assets/scss/utils/vars.scss";

.git {
	position: fixed;
	bottom: 40px;
	right: 40px;
	width: 40px;
	height: 40px;
	cursor: pointer;
	
	&__path {
		transition: all .4s ease;
	}

	&:hover &__path {
		fill: $primary-color;
	}
}