@import "../../assets/scss/utils/vars.scss";
@keyframes mainTextHide {
  0% {
	}
	30% {
		opacity: .2;
		transform: translate(-50%, -50%) scale(.7);
	}
	100%{
		opacity: .1;
		transform: translate(-500%, -50%) scale(.9);
	}
}
.center-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.center-text--animation {
	animation: mainTextHide 2s 1 ease;
}

.center-text__title {
	font-size: 210px;
	text-transform: uppercase;
	font-family: $secondaryFont;
	letter-spacing: 25px;
	font-weight: bold;
	// background-color: red;
	text-align: center;
}
.center-text__subtitle {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	margin-top: 15px;
	// background-color: blue;
}
.center-text__subtitle-item {
	font-family: $mainFont;
	font-size: 30px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 10px;
	line-height: 0.87;

	&:not(:last-child) {
		margin-right: 40px;
	}

	&_orange {
		color: #FF663D;
	}

	&_blue {
		color: #01AEE3;
	}

	&_yellow {
		color: #FFC920;
	}
}