.center-text(data-center-text)
	.center-text__title Михаил Кочеров
	.center-text__subtitle
		.center-text__subtitle-item.center-text__subtitle-item_orange html
		.center-text__subtitle-item.center-text__subtitle-item_blue css
		.center-text__subtitle-item.center-text__subtitle-item_yellow javascript