@import "../../assets/scss/utils/vars.scss";

.sertificat {
	// width: 210px;
	// width: 60%;
	// border: 1px solid blue;
	text-align: center;
	height: 100%;
	padding: 0 28px;
	display: flex;
	flex-direction: column;
	justify-content: center;

	@media (min-width: 768px) {
		text-align: left;
		justify-content: flex-start;
		padding-left: 0;
	}
}
.sertificat__img-wrapper {
	margin: 0 auto;

	width: 142px;
	height: 200px;
	transition: all .8s ease;
	
	&--active {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) scale(0.5);
		// width: 0;
		// height: 0;
		padding: 30px;
		display: flex;
		justify-content: center;
		opacity: 0;
		transition: width 1s ease, height 1s ease, opacity .4s ease, transform .4s ease;
		transition: all .4s ease;

		.sertificat__img {
			padding: 10px;
			background-color: $default-color;
			cursor: auto;

			@media (min-width: 768px) {
				padding: 20px 7px;
			}
		}
	}

	&--show {
		opacity: 1;
		transition: width .6s ease, height .6s ease, opacity .6s ease .3s, transform .4s ease;
		transition: all .3s ease .3s;
		transform: translate(-50%, -50%) scale(1);
	}

	@media (min-width: 768px) {
		margin: 0;
	}
}

.sertificat__img {
	cursor: pointer;
	height: 100%;
	// object-fit: contain;
	
}


.sertificat__description, .sertificat__footer {
	font-family: $mainFont;
	font-weight: bold;
  font-size: 16px;
  line-height: 1.75;
	color: $default-color;
	margin-bottom: 4px;
}

.sertificat__description {
	min-height: 60px;
	
}

.sertificat__dates {
	opacity: 0.5;
	font-family: $mainFont;
  font-size: 16px;
  line-height: 1.75;
	color: $default-color;
	margin-top: 24px;
	margin-bottom: 8px;
}

.single-sertificat-wrapper {
	background-color: $primary-color;
	border-radius: 50%;
	position: fixed;
	width: 0px;
	height: 0px;
	transform: translate(-50%, -50%);
	transition: width .4s cubic-bezier(.19,.35,.53,.86), height .4s cubic-bezier(.19,.35,.53,.86);
	transition: width .4s linear, height .4s linear;
	overflow: hidden;
	z-index: 8;
	
	&--show {
		transition: width .6s ease-out, height .6s ease-out;
		transition: width .3s linear, height .3s linear;
	}

	&--open {
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 100%;
		border-radius: 0;
		transform: none;
	}

	.sertificat__img {
		object-fit: contain;
		// height: auto;
	}
}
