mixin sertificat(options)
	.sertificat
		.sertificat__img(style="background-image: url("+options.url+");")
		.sertificat__dates #{options.dates}
		.sertificat__description #{options.description} 
		.sertificat__footer #{options.place}