extends ../layout/page.pug

block variables
	- var title = 'Главная страница';

block content
	.canvas
	include ../includes/_vertical-lines.pug
	include ../includes/_number-column.pug
	include ../../blocks/menu/menu.pug
	.container(data-main-container).about-me
		.main-page-icons
			include ../../blocks/logo/logo.pug
			include ../../blocks/vk/vk.pug
			include ../../blocks/git/git.pug
		include ../../blocks/centerText/centerText.pug
		include ../../blocks/menuIcon/menuIcon.pug
		include ../../blocks/about/about.pug
		