extends ../layout/page.pug

block variables
	- var title = 'Главная страница';

block content
	.canvas
	include ../includes/_vertical-lines.pug
	include ../includes/_number-column.pug
	.container 
		include ../../blocks/centerText/centerText.pug
		include ../../blocks/logo/logo.pug
		include ../../blocks/vk/vk.pug
		include ../../blocks/git/git.pug
		include ../../blocks/menuIcon/menuIcon.pug
		