.personal.hide(data-personal-page)
	.personal__info(data-about-info)
		p Здравствуйте! 
		p Меня зовут Михаил Кочеров,  я верстальщик из Санкт-Петербурга. И еще пару строк текста, и еще пару строк текста, и еще пару строк текста, и еще пару строк текста, и еще пару строк текста, и еще пару строк текста, и еще пару строк текста, и еще пару строк текста, и еще пару строк текста…
	.personal__button(data-button-overflow data-about-button)
		.personal__button-wrapper
			+button('Скачать резюме','', 'down', 'small')(data-resume-button)