@import "../../assets/scss/utils/vars.scss";

.mail-form {
	padding-top: 81px;
}

.mail-form__contacts {
	display: flex;
	justify-content: space-between;

	&-email, &-phone {
		font-family: $mainFont;
		font-size: 24px;
		font-weight: bold;
		color: $default-color;

	}
	
}

.mail-form__contacts-social-icons {
	display: flex;

	&-vk {
		width: 40px;
		height: 40px;
		margin-right: 38px;
	}

	&-git {
		width: 40px;
		height: 40px;
	}
}

.mail-form__fields {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-top: 44px;
}

.mail-form__name, .mail-form__email {
	flex: 0 0 45%;
	margin-bottom: 40px;
}

.mail-form__message {
	flex: 0 0 100%;
	margin-bottom: 40px;
}

.mail-form__button {
	height: 100px;
	margin-top: 30px;
}
