.mail-form
	.mail-form__contacts
		.mail-form__contacts-email ko4erov@mail.ru
		.mail-form__contacts-phone +7 (911) 812-11-82
		.mail-form__contacts-social-icons
			.mail-form__contacts-social-icons-vk
				include ../vk/vk.pug
			.mail-form__contacts-social-icons-git
				include ../git/git.pug
	.mail-form__fields
		.mail-form__name
			+input({title:"Имя", name: "name"} )(data-input="name")
		.mail-form__email
			+input( {title: "Почта", name: "email"} )(data-input="email")
		.mail-form__message
			+textarea( {title: "Сообщение", name: "message"} )(data-input="message")
	.mail-form__button
		+button('Отправить', '', 'right', '')