.dropdown(data-dropdown)
	.dropdown__wrapper(data-dropdown-wrapper)
		.dropdown__list(data-dropdown-list)
			.dropdown__list-item.dropdown__list-item--active(data-portfolio-filter="all") Все
			.dropdown__list-item(data-portfolio-filter="javascript") javascript
			.dropdown__list-item(data-portfolio-filter="bootstrap") bootstrap
			.dropdown__list-item(data-portfolio-filter="less") less/sass
			.dropdown__list-item(data-portfolio-filter="webpack") webpack
	.dropdown__chevron

	//- .dropdown__toggle
	//- 	.dropdown__toggle-item.dropdown__toggle-item--active(data-portfolio-filter="all") Все
	//- 	.dropdown__toggle-item(data-portfolio-filter="javascript") JavaScript
	//- 	.dropdown__toggle-item(data-portfolio-filter="bootstrap") Bootstrap
	//- 	.dropdown__toggle-item(data-portfolio-filter="less") Less/Sass
	//- 	.dropdown__toggle-item(data-portfolio-filter="webpack") Webpack