.sertificats-slider 
	.sertificats-slider__wrapper(data-slider-container)
		.sertificats-slider__item.sertificats-slider__item--1(data-slider-item)
			+sertificat({
				url: "../../assets/img/img/html.jpg",
				dates: "Август - Октбярь 2018",
				description: "Курсы по верстке сайтов HTML5, CSS3",
				place: "WebCademy.ru"
			})
		.sertificats-slider__item.sertificats-slider__item--2(data-slider-item)
			+sertificat({
				url: "../../assets/img/img/dev.jpg",
				dates: "Ноябрь 2018 - Февраль 2019",
				description: "Курсы по веб-разработке. Front-end и Back-end",
				place: "WebCademy.ru"
			})
		.sertificats-slider__item.sertificats-slider__item--3(data-slider-item)
			+sertificat({
				url: "../../assets/img/img/js.jpg",
				dates: "Апрель - Май 2019",
				description: "Курсы по JavaScript",
				place: "WebCademy.ru"
			})
		.sertificats-slider__item.sertificats-slider__item--4(data-slider-item)
			+sertificat({
				dates: "2000 - 2006",
				description: "Санкт-Петербургский институт машиностроения ЛМЗ-ВТУЗ, специальность инженер-технолог"
			})
	.sertificats-slider__pagination(data-slider-pagination)
		.sertificats-slider__pagination-item.sertificats-slider__pagination-item--active
		.sertificats-slider__pagination-item
		.sertificats-slider__pagination-item
		.sertificats-slider__pagination-item
	//- .education__sertificat-item.education__sertificat-item--1
	//- 	+sertificat({
	//- 		url: "../../assets/img/img/html.jpg",
	//- 		dates: "Август - Октбярь 2018",
	//- 		description: "Курсы по верстке сайтов HTML5, CSS3",
	//- 		place: "WebCademy.ru"
	//- 	})
	//- .education__sertificat-item.education__sertificat-item--2
	//- 	+sertificat({
	//- 		url: "../../assets/img/img/dev.jpg",
	//- 		dates: "Ноябрь 2018 - Февраль 2019",
	//- 		description: "Курсы по веб-разработке. Front-end и Back-end",
	//- 		place: "WebCademy.ru"
	//- 	})
	//- .education__sertificat-item.education__sertificat-item--3
	//- 	+sertificat({
	//- 		url: "../../assets/img/img/js.jpg",
	//- 		dates: "Апрель - Май 2019",
	//- 		description: "Курсы по JavaScript",
	//- 		place: "WebCademy.ru"
	//- 	})
	//- .education__sertificat-item.education__sertificat-item--4
	//- 	+sertificat({
	//- 		dates: "2000 - 2006",
	//- 		description: "Санкт-Петербургский институт машиностроения ЛМЗ-ВТУЗ, специальность инженер-технолог"
	//- 	})