.contacts(data-contacts-page)
	//- .contacts--show
	.contacts__container.container
		.contacts__header
			.contacts__header-text(data-contacts-header) Контакты
		.contacts__form
			include ../mailForm/mailForm.pug