@import "../../assets/scss/utils/vars.scss";

.contacts {
	display: flex;
	height: 100vh;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	z-index: -100;
}

.contacts__container {
	// border: 1px solid red;
	position: relative;
	display: flex;
	flex-direction: column;
	height: 100%;
	margin: 0 auto;
	width: 66%;
	transition: all .4s ease;
}

.contacts__header {
	flex: 0 0 22%;
	display: flex;
	justify-content: flex-end;

	flex-direction: column;

	&-text {
		display: inline-block;
		color: $default-color;
		font-family: $secondaryFont;
		font-size: 100px;
		font-weight: bold;
		// line-height: 1.8;
		letter-spacing: 8px;
	}
}

.contacts__form {
	opacity: 0;
	transform: translateX(-100%);
	// transition: opacity .4s ease, transform .6s ease;
}

.contacts--show {
	.contacts__form {
		opacity: 1;
		transform: translateX(0%);
		transition: opacity .6s ease .2s, transform .8s ease;
	}
}

@keyframes blockHide {
  0% {
	}
	30% {
		opacity: .2;
		transform: translate(-10%, -10%) scale(.7);
	}
	100%{
		opacity: .1;
		transform: translate(-500%, -10%) scale(.9);
	}
}
.contacts--hide-animation {
	.contacts__form {
		animation: blockHide 2s 1 ease;
	}
}