@import "../../assets/scss/utils/vars.scss";

.contacts {
	display: flex;
	height: 100vh;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	z-index: -100;
	overflow: hidden;
}

.contacts__container {
	// border: 1px solid red;
	// position: relative;
	// display: flex;
	// flex-direction: column;
	// height: 100%;
	// margin: 0 auto;
	// width: 66%;
	// transition: all .4s ease;
}

.contacts__header {
	flex: 0 0 22%;
	display: flex;
	justify-content: flex-end;

	flex-direction: column;

	padding-top: 103px;

	&-text {
		display: inline-block;
		color: $default-color;
		font-family: $secondaryFont;
		font-size: 60px;
		font-weight: bold;
		letter-spacing: 4px;

		@media (min-width: 576px) {
			font-size: 80px;
			letter-spacing: 6px;

		}
		@media (min-width: 992px) {
			font-size: 100px;
			letter-spacing: 8px;

		}
	}
}

.contacts__form {
	// opacity: 0;
	// transform: translateX(-100%);
}

.contacts--show {
	// .contacts__form {
	// 	opacity: 1;
	// 	transform: translateX(0%);
	// 	transition: opacity .6s ease .2s, transform .8s ease;
	// }

	.mail-form__contacts-email {
		opacity: 1;
		transform: translateX(0%);
		transition: opacity .6s ease .2s, transform .8s ease;
	}

	.mail-form__contacts-phone {
		opacity: 1;
		transform: translateX(0%);
		transition: opacity .6s ease .3s, transform .8s ease .1s;
		
		@media (min-width: 768px) {
			transition: opacity .6s ease .2s, transform .8s ease;
		}
	}

	.mail-form__contacts-social-icons {
		opacity: 1;
		transform: translateX(0%);
		transition: opacity .6s ease .4s, transform .8s ease .2s;

		@media (min-width: 768px) {
			transition: opacity .6s ease .2s, transform .8s ease;
		}
	}

	.mail-form__name{
		opacity: 1;
		transform: translateX(0%);
		transition: opacity .6s ease .5s, transform .8s ease .3s;
	}
	.mail-form__email {
		opacity: 1;
		transform: translateX(0%);
		transition: opacity .6s ease .6s, transform .8s ease .4s;

		@media (min-width: 768px) {
			transition: opacity .6s ease .5s, transform .8s ease .3s;
		}
	}
	.mail-form__message {
		opacity: 1;
		transform: translateX(0%);
		transition: opacity .6s ease .7s, transform .8s ease .5s;
	}
	.mail-form__button {
		opacity: 1;
		transform: translateX(0%);
		transition: opacity .6s ease .8s, transform .8s ease .6s;
	}

	// .success__text, .success__button {
	// 	opacity: 1;
	// 	transform: translateX(0%);
	// }
	// .success__text {
	// 	transition: opacity .6s ease .2s, transform .8s ease;
	// }
	// .success__button {
	// 	transition: opacity .6s ease .4s, transform .8s ease .2s;
	// }
}

@keyframes contactsHide {
  0% {
	}
	30% {
		opacity: .2;
		transform: translate(0%, 0%) scale(.7);
	}
	100%{
		opacity: .1;
		transform: translate(-500%, 0%) scale(.9);
	}
}
.contacts--hide-animation {
	.contacts__container {
		animation: contactsHide 2s 1 ease;
	}
}