mixin site(options)
	.site
		.site__picture
			.site__img(style="background-image: url(" + options.img + ");")
			.site__title #{options.text}
		.site__info
			.site__description #{options.description}
			.site__buttons
				.site__code
					+button("Код на GitHub", options.github, "", "small", "special", "blank")
				.site__look
					+button("Посмотреть", options.link, "", "small", "special", "blank")