mixin site(options)
	.site
		.site__picture
			.site__img(style="background-image: url(" + options.img + ");")
			.site__title Учебный макет Surfing Club
		a.site__link(href=options.link)
			.site__description
				| Вёрстка многостраничного сайта отеля с использованием Sass, Pug, Webpack
			.site__button
				.site__button-text Посмотреть
				.site__button-arrow
					svg.site__button-arrow-svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40")
						path.button__button-arrow-path(fill="#00abdf" fill-rule="evenodd" d="M34.751 21.545H0v-3.09h34.751l-9.224-9.27L27.702 7 39.55 18.908c.3.301.45.696.45 1.092 0 .396-.15.791-.45 1.092L27.702 33l-2.175-2.185 9.224-9.27z")






