.menu(data-menu)
	.menu__container
		.menu__item 
			.menu__text(data-menu-about="data-about-page") Обо мне
		.menu__item 
			.menu__text(data-menu-portfolio="data-portfolio-page") Портфолио
		.menu__item 
			.menu__text(data-menu-contacts="data-contacts-page") Контакты