@import "../../assets/scss/utils/vars.scss";

.menu {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 100%;
	z-index: 10;
	background-color: $primary-color;
	display: flex;
	align-items: center;
	// padding-left: 270px;
	// padding-right: 270px;
	transition: all .8s ease;
	opacity: 0;
	overflow: hidden;
}

.menu__container {
	flex: 0 0 66%;
	margin: 0 auto;
	// width: 66%;
	height: 54%;
	display: flex;
	flex-direction: column;
}

.menu__item {

	

	&:not(:last-child) {
		margin-bottom: 67px;
		
		@media (min-width: 576px) {
			margin-bottom: 77px;
		}
	}
	
	& .menu__text {

		

		display: inline-block;
		color: $default-color;
		font-family: $secondaryFont;
		font-size: 50px;
		font-weight: bold;
		letter-spacing: 4px;
		position: relative;
		cursor: pointer;
		
		@media (min-width: 576px) {
			font-size: 100px;
			letter-spacing: 8px;

			&:before {
				content: "";
				background-image: url("/assets/img/icons/bracket.png");
				position: absolute;
				width: 52px;
				height: 53px;
				top: 26px;
				left: -72px;
				opacity: 0;
				transition: all .4s ease;
			}
			&:after {
				content: "";
				background-image: url("/assets/img/icons/bracket.png");
				position: absolute;
				width: 52px;
				height: 53px;
				top: 26px;
				right: -65px;
				transform: rotate(180deg);
				opacity: 0;
				transition: all .4s ease;
			}
	
			&:hover {
				&:before {
					opacity: 1;
					left: -92px;
				}
				&:after {
					opacity: 1;
					right: -85px;
				}
	
			}
		}
	}

}

.menu--show {
	top: 0;
	bottom: 0;
	opacity: 1;
}
.hidden{
	visibility: hidden;
}

.menu-moving-text {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 30;
	display: inline-block;
	color: $default-color;
	font-family: $secondaryFont;
	font-size: 100px;
	font-weight: bold;
	// line-height: 1.8;
	letter-spacing: 8px;
	transition: all .8s ease;
	// border: 1px solid green;
}