.menu(data-menu)
	.menu__container.container
		.menu__item 
			.menu__text(data-menu-about="data-about-page" data-menu-target="about") Обо мне
		.menu__item 
			.menu__text(data-menu-portfolio="data-portfolio-page" data-menu-target="portfolio") Портфолио
		.menu__item 
			.menu__text(data-menu-contacts="data-contacts-page" data-menu-target="contacts") Контакты