.success(data-success-page)
	//- .success--show
	.success__container.container
		.success__text 
			span Ваше сообщение успешно отправлено
		.success__button
			.success__button-success
				+button('OK')(data-success-button)