@import "../../assets/scss/utils/vars.scss";

.technologies {
	// display: none;
	width: 100%;
	// opacity: 0;
	// height: 100px;
	// background-color: green;
	position: absolute;
	// top: 270px;
	top: 31.5%;
	left: 0;
}

.technologies__item {
	margin-bottom: 8px;
	width: 0;
	opacity: 0;
	transition: all .6s ease;
}