@import "../../assets/scss/utils/vars.scss";

.technologies__subtitle {
	padding-top: 68px;
	padding-bottom: 50px;
	
	&-text {
		font-family: $secondaryFont;
		font-size: 30px;
		font-weight: bold;
		line-height: 1;
		letter-spacing: 3px;
		color: $default-color;
		text-transform: uppercase;
		transform: translateX(0);
		opacity: 1;
		transition: opacity 1s ease, transform .8s ease -0.4s;

		@media (min-width: 768px) {
			transform: translateX(-50%);
			opacity: 0;
			transition: all .8s ease;

		}
	}

	@media (min-width: 768px) {
		padding-top: 8px;
		height: 38px;
		overflow: hidden;
	}
}

.technologies__list {
	top: 31.5%;
	right: -25%;
	left: -26%;
	margin-left: -24px;
	margin-bottom: 40px;

	@media (min-width: 576px) and (max-width: 767px) {
		margin-left: -40px;
		margin-right: -40px;
	}
	
	@media (min-width: 768px) {
		position: absolute;
		margin-left: 0;
		margin-right: 0;
		right: -90px;
		left: -90px;
	}

	@media (min-width: 992px) {
		right: -25%;
		left: -26%;
	}

	&:after {
		
		@media (min-width: 768px) {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			background: linear-gradient(to left, rgba(144, 144, 144, 0), rgba(35, 35, 35, 0.7));
			z-index: 1;
			display: block;
			width: 90px;
			opacity: 0;
			transition: opacity .4s ease;
		}

		@media (min-width: 992px) {
			width: 17%;
		}
	}
}

.technologies__item {
	margin-bottom: 8px;
	transition: all .6s ease;
	
	width: 100%;
	opacity: 1;

	&:last-child {
		margin-bottom: 0;
	}
	
	@media (min-width: 768px) {
		width: 0;
		opacity: 0;

	}
}