.technologies
	.technologies__subtitle
		.technologies__subtitle-text /Технологии
	.technologies__list
		.technologies__item
			+technology({
				text: "html 5",
				width: "80%",
				color: "danger",
				size: "wide"
			})
		.technologies__item
			+technology({
				text: "css 3",
				width: "75%",
				color: "primary",
				size: "wide"
			})
		.technologies__item
			+technology({
				text: "javascript",
				width: "70%",
				color: "secondary",
				size: "wide"
			})
		.technologies__item
			+technology({
				text: "less/scss",
				width: "60%",
				color: "default",
				size: "medium"
			})
		.technologies__item
			+technology({
				text: "pug",
				width: "57%",
				color: "default",
				size: "medium"
			})
		.technologies__item
			+technology({
				text: "webpack",
				width: "50%",
				color: "neutral-primary",
				size: "medium"
			})
		.technologies__item
			+technology({
				text: "gulp",
				width: "45%",
				color: "neutral-primary",
				size: "medium"
			})
		.technologies__item
			+technology({
				text: "bootstrap",
				width: "40%",
				color: "neutral-secondary",
				size: "thin"
			})
		.technologies__item
			+technology({
				text: "php",
				width: "30%",
				color: "neutral-secondary",
				size: "thin"
			})
		.technologies__item
			+technology({
				text: "sql",
				width: "25%",
				color: "neutral-secondary",
				size: "thin"
			})