@import "../../assets/scss/utils/vars.scss";

.technologies {
	// display: none;
	width: 0;
	// height: 100px;
	// background-color: green;
	position: absolute;
	top: 270px;
	left: 0;
}

.technologies__item {
	margin-bottom: 8px;
}