.education.hide(data-education-page)
	.education__container
		.education__header /Образование
		.education__sertificats
			.education__sertificat-item
				+sertificat({
					url: "./../assets/img/img/html.jpg",
					dates: "Август - Октбярь 2018",
					description: "Курсы по верстке сайтов HTML5, CSS3",
					place: "WebCademy.ru"
				})
			.education__sertificat-item
				+sertificat({
					url: "./../assets/img/img/dev.jpg",
					dates: "Ноябрь 2018 - Февраль 2019",
					description: "Курсы по веб-разработке. Front-end и Back-end",
					place: "WebCademy.ru"
				})
			.education__sertificat-item
				+sertificat({
					url: "./../assets/img/img/js.jpg",
					dates: "Апрель - Май 2019",
					description: "Курсы по JavaScript",
					place: "WebCademy.ru"
				})
				
		.education__footer
			.education__footer-years 2000 - 2006
			.education__footer-text Санкт-Петербургский институт машиностроения ЛМЗ-ВТУЗ, специальность инженер-технолог