.education(data-education-page)
	.education__container
		.about__subtitle
				.about__subtitle-text.about__subtitle-text--education /Образование
		//- .education__header /Образование
		.education__sertificats
			include ../sertificatsSlider/sertificatsSlider.pug
			
				
		//- .education__footer
		//- 	.education__footer-years 2000 - 2006
		//- 	.education__footer-text Санкт-Петербургский институт машиностроения ЛМЗ-ВТУЗ, специальность инженер-технолог